*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
}

#home .ft-img {
  width: 80%;
  max-height: 400px;
  object-fit: cover;
  object-position: 20% 80%;
}

.home-section, .about-section, .music-section, .contact-section {
  width: 100%;
  padding: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.home-section {
  background-color: #f2f2f2;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6e6e6;
}

.music-section {
  background-color: #d9d9d9;
}

.contact-section {
  background-color: #c2c2c2;
}

.navbar-container {
  width: 100%;
  max-width: 1600px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  background-color: #2b2b73;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo img {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  object-fit: cover;
}

.nav-link, .dropdown-button {
  display: inline-block; /* make both nav links and dropdown button inline */
  padding: 10px 15px; /* add some padding to both */
  font-size: 16px; /* set font size to match other nav links */
  text-decoration: none; /* remove underline */
  color: #333; /* set text color*/
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

.nav-list li {
  display: inline-block; /* make all list items inline */
  margin-right: 20px; /* add some space between list items */
}

.nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-list li:hover a {
  background-color: #425c77;
  color: white;
}

article {
  flex: 1;
  padding: 2rem;
}

/* Tambahkan CSS berikut untuk membuat konten samping berada di samping kanan */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-between;
}

#article-container {
  flex: 1;
}

.sidebar {
  flex: 0 0 300px; /* adjust the width to your liking */
  padding: 20px;
  margin-left: auto;
  max-width: 300px; /* add this to set a maximum width */
}

.aside-container {
  flex: 0 0 300px; /* adjust the width to your liking */
  padding: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ubah CSS berikut untuk membuat aside berada di samping kanan */

aside {
  flex: 1;
  padding: 2rem;
  margin-left: 20px;
}

/* Ubah CSS berikut untuk membuat artikel dan aside memiliki lebar yang sama */

article, aside {
  flex: 1;
  padding: 2rem;
}

/* Tambahkan CSS berikut untuk membuat konten samping memiliki latar belakang yang berbeda */

.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin: 0 auto 20px -50px;
}
.aside-container .profile-picture {
  margin: 0; /* remove the margin bottom */
  align-self: flex-start; /* add this to align the image to the top */
}

footer {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem 2rem;
  text-align: center;
}

/* Media Queries */

/* Medium devices (768px and below) */
@media screen and (max-width: 768px) {
  .logo img {
    width: 100px;
    height: 30px;
  }
  .navbar-container {
    flex-direction: column;
  }
  .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
  main {
    flex-direction: column;
    gap: 2rem;
  }
  article {
    padding: 1rem;
  }
  aside {
    padding: 1rem;
  }
}

/* Small devices (480px and below) */
@media screen and (max-width: 480px) {
  .logo img {
    width: 80px;
    height: 20px;
  }
  .navbar-container {
    padding-block: 0.5rem;
    top: 0;
  }
  .nav-list ul {
    gap: 1rem;
  }
  main {
    margin-top: 60px;
    padding: 1rem;
  }
  article {
    padding: 0.5rem;
  }
  aside {
    padding: 0.5rem;
  }
}

.dropdown {
  position: relative;
  margin-right: 0;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #83a6c1;  
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999;
  border-radius: 10px;
}

.dropdown-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block; /* Change this to block to display the list vertically */
}

.dropdown-list li {
  display: block;
  margin-bottom: 10px; /* Add this to add space between list items */
}

.dropdown-list a {
  display: block; /* Change this to block to display links vertically */
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-list.show {
  display: block;
}

.dropdown-button {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  background-color: #425c77;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #2d3e50;
}